.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

#main-home {
    display: flex;
    width: 100%;

}

#notification-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

#notification-filters_forms {
    display: flex;
    position: fixed;
    top: 18vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 15vw;
}

#notifications {
    width: 85vw;
}

#type-form {
    display: flex; 
    flex-direction: column;
    width: 15vw;
}


.filter-title {
    padding: 10px;
    font-weight: bold;
}

#types { 
    border: 1px solid grey;
    padding: 10% 10% 10% 10%;
    border-radius: 5px;   
}

#users {
    border: 1px solid grey;
    padding: 5% 5%;     border-radius: 5px;  
}

option {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.type {
    padding: 5px;
}

#notification-users-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 15vw;
}

.clear {
    margin: 10px;
    background-color: #419bf9;
    border: none; 
    border-radius: 2px;
    color: #eae8ea;
    padding: 6px 15px;
}

.clear:hover {
    cursor: pointer;
    background-color: #448fe1;
}

.clear:focus {
    background-color: #979197;
}

.notification {
    list-style: none;
    background-color: #f7f7f7;
    border-radius: 10px;
    width: 60%;  
}

#change-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
}

#change-page_buttons {
    display: flex;
    align-items: center;
}

#change-page_title {
    margin: 0;
}

#change-page_page-number {
    padding: 5px;
}

#prev-page-button {
    background-color: transparent;
    border: none;
}

#prev-page-button:hover {
    cursor: pointer;
}

#next-page-button {
    background-color: transparent;
    border: none;
}

#next-page-button:hover {
    cursor: pointer;
}

