#main-home {
    display: flex;
    width: 100%;

}

#notification-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

#notification-filters_forms {
    display: flex;
    position: fixed;
    top: 18vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 15vw;
}

#notifications {

    width: 85vw;
}

#type-form {
    display: flex; 
    flex-direction: column;
    width: 15vw;
}

#types { 
    border: 1px solid grey;
    padding: 10% 10% 10% 10%;
    border-radius: 5px;   
}

option {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.type {
    padding: 5px;
}

#notification-users-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 15vw;
}

.clear {
    margin: 10px;
    background-color: #419bf9;
    border: none; 
    border-radius: 2px;
    color: #eae8ea;
    padding: 6px 15px;
}

.clear:hover {
    cursor: pointer;
    background-color: #448fe1;
}

.clear:focus {
    background-color: #979197;
}

.notification {
    list-style: none;
    background-color: #f7f7f7;
    border-radius: 10px;
    width: 60%;  
}