#projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.project {
    border: 1px dotted lightgrey;
    border-radius: 10px;
    width: 20%;
    padding: 5px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    text-align: center;
}

button {
    background-color: #419bf9;
    border: none; 
    border-radius: 2px;
    color: #eae8ea;
    padding: 6px 15px;
}

button:hover {
    cursor: pointer;
    background-color: #448fe1;
}

#projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#workspace-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
}

.workspace-options_buttons {
    visibility: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#workspace-options_more {
    margin-top: 2%;
}

#workspace-options_more:hover {
    cursor: pointer;
}

#back-button {
    align-self: flex-start;
    position: relative;
    top: 1.5vh;
    left: 2vw;
}

#back-button:hover {
    cursor: pointer;
    color: grey;
}

.project-title_link {
    text-decoration: none;
    color: black;
}

.project-title_link:hover {
    text-decoration: none;
    color: #419bf9;
}

#workspace-title {
    text-decoration: none;
    color: black;
    font-size:larger;
    font-weight: 600;
}

#workspace-title:hover {
    color: #419bf9;
    cursor: pointer;
}